.card {
    padding: 40px 10px 20px;
}

.day-title {
    font-size: 1.3em;
    font-weight: 400;
}

.slot {
    margin-bottom: 10px;
    min-height: 70px;
    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
}

.schedule-time {
    margin-right: 20px;
    line-height: 1.2;
    color: #666666;
}

.session {
    padding-bottom: 20px;
    @media (min-width: 768px) {
        padding: 0 10px;
    }
    &:hover {
        cursor: pointer;
    }
}

.session-title {
    margin-top: 1px;
    margin-bottom: 5px;
    line-height: 1.25rem;
    font-size: 1.1em;
    font-weight: 400;
}

.speaker {
    margin: 5px 0;
    .detail {
        padding-left: 10px;
    }
    .company {
        font-size: 0.9em;
        line-height: 1;
    }
    .image {
        margin-top: 3px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}
